*{
    scroll-behavior: smooth;
}
body{
    height: 3000px;
}
a{
    background-color: brown;
    padding: 10px;
    color: white;
    position: fixed;
    bottom: 10px;
    z-index: 999;
    /* right: 10px; */
}



.parent{
    background-color: chocolate;
    height: 500px;
    width: 500px;
    position: relative;
} 

.child{
    position: absolute;
    right: 20px;
    top: 100px;
    color: blue;
}